@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #22254b;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.movie {
    width: 300px;
    overflow: hidden;
    border-radius: 2px;
    background-color: #373b69;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
    margin: 1rem;
}

.movie img {
    max-width: 100%;
}

.movie-info {
    display: flex;
    justify-content: space-between;
    color: #eee;
    letter-spacing: 1px;
    align-items: center;
    padding: 0.5rem 1rem 1rem;
}

.movie-info h3 {
    margin: 0;
}

.movie-info span {
    font-weight: bold;
    color: rgb(233, 175, 51);
    background-color: #22254b;
    border-radius: 2px;
    padding: 0.25rem 0.5rem;
}