@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    font-family: "Poppins", sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

img {
    max-width: 100%;
}

.mobile-container {
    background-color: white;
    box-shadow: 0 0 10px 5px #3333331A;
    border-radius: 9px;
    overflow: hidden;
    width: 400px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

header input {
    background-color: #eee;
    border: none;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
}

header button {
    background: transparent;
    color: #aaa;
    border: none;
    font-size: 1.5rem;
    margin-left: 1rem;
}

.fav-container {
    background-color: #fbeefb;
    padding: 0.25rem 1rem;
    font-family: inherit;
    /* font-size: 1rem; */
    text-align: center;
}

.fav-meals {
    display: flex;
    list-style-type: none;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

.fav-meals li {
    position: relative;
    margin: 5px;
    width: 75px;
    cursor: pointer;
}

.fav-meals li .clear {
    opacity: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    font-size: 1.2rem;
}

.fav-meals li:hover .clear {
    opacity: 100%;
}

.fav-meals li img {
    background-color: #ffe8d2;
    border: 2px solid rgb(255, 253, 255);
    box-shadow: 0 0 5px 1px #3333331A;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    object-fit: cover;
}

.fav-meals li span {
    display: inline-block;
    font-size: 0.9rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 75px;
}

.meal {
    box-shadow: 0 0 5px 1px #3333331A;
    border-radius: 3px;
    cursor: pointer;
    margin: 1.5rem;
    overflow: hidden;
}

.meal-header {
    position: relative;
}

.meal-header .random {
    position: absolute;
    top: 1rem;
    background-color: #FFFFFF;
    padding: 0.25rem 0.5rem;
    border-radius: 0 3px 3px 0;
    color:rgb(92, 88, 92);
}

.meal-header img {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.meal-body {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.meal-body h4 {
    margin: 0;
}

.meal-body .fav-btn {
    border: none;
    background-color: transparent;
    font-size: 1.1rem;
    color:rgb(165, 165, 165);
    cursor: pointer;
}

.meal-body .fav-btn.active {
    color: rebeccapurple;
}

.popup-container {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.popup-container.hidden {
    opacity: 0;
    pointer-events: none;
}

.popup {
    background-color: #fff;
    max-width: 600px;
    border-radius: 5px;
    padding: 0 2rem;
    width: 100%;
    overflow: auto;
    max-height: 100vh;
    position: relative;
}

.popup .close-popup {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

.meal-info h1 {
    text-align: center;
}
